version: "3.1"
services:
  bb_mariadb:
    image: mariadb:10.5
    container_name: banbus-mariadb
    volumes:
      - .db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=123
    ports:
      - "3306:3306"

  # bb_php:
  #   container_name: banbus-php
  #   working_dir: /var/www
  #   volumes:
  #     - .:/var/www
  #   build:
  #     context: docker/php
  #     dockerfile: dockerfile
  #   environment:
  #     APP_ENV: "local"

  # bb_nginx:
  #   image: nginx
  #   container_name: banbus-nginx
  #   volumes:
  #     - .:/var/www
  #     - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
  #     - ./docker/nginx/server.conf:/etc/nginx/conf.d/default.conf:ro
  #     - ./docker/nginx/conf:/etc/nginx/custom:ro
  #   ports:
  #     - "80:80"
  #   depends_on:
  #     - bb_php
