<div class="ticket-action d-flex justify-content-start align-items-center">
	<span class="fa-stack fa-2x">
		<i class="fa-solid fa-circle fa-stack-2x text-{{t.getAction.getCssClass}}"></i>
		<i class="{{t.getAction.getIcon}} fa-stack-1x fa-inverse"></i>
	</span>
	<h5 class="ms-2 fw-bold">{{t.getmessage}}</h5>
</div>
