<p>{{error.getMessage}}</p>
<p>Possible resolutions:</p>
<ul>
	{% if user.has('ADMIN') %}
		<li><a href="{{link}}">View this ticket on TGDB</a></li>
	{% endif %}
	<li>Authenticate with Statbus by logging into the AuStation BYOND server.</li>
</ul>
