{% extends 'tgdb/page.html.twig' %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item">
		<i class="fas fa-binoculars"></i>
		Active Watchlist Entries
	</li>
{% endblock %}
{% block cardHeader %}
	<span>
		<i class="fas fa-binoculars"></i>
		Active Watchlist Entries</span>
{% endblock %}
{% block cardBody %}
	{% include 'notes/components/noteListing.html.twig' %}
{% endblock %}
