{% extends 'base/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item active">
		<i class="fas fa-gavel"></i>
		My Bans
	</li>
{% endblock %}
{% block cardHeader %}
	<span>
		<i class="fas fa-gavel"></i>
		My Bans</h5>
</span>{% endblock %}{% block cardBody %}
<div class="list-group list-group-flush">
	{% for b in bans %}
					{% include 'bans/components/banListEntry.html.twig' %}
				{% endfor %}
</div>
{% endblock %}
