{% extends 'base/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item">
		<a href="{{url_for('user.bans')}}">My Bans</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-gavel"></i>
		{{ban.id}}</li>
{% endblock %}
{% block cardHeader %}
	{% include 'bans/components/banHeader.html.twig' %}
{% endblock %}
{% block cardSubHeader %}
	{% if ban.roleBans %}
	<div class="text-bg-info px-3 py-1">
		<strong>Heads Up!</strong>
		This ban applies to multiple roles. The following bans are grouped into this ban:
		{{ban.banIds}}
	</div>
	{% endif %}
{% endblock %}
{% block cardBody %}
	{% include 'bans/components/banBody.html.twig' %}
{% endblock %}
