{% extends 'tgdb/page.html.twig' %}
{% block breadcrumbs %}
{% endblock %}
{% block cardHeader %}
TGDB
{% endblock %}
{% block cardBody %}
			<div class="row">
				<div class="col-7">
					<div class="row row-cols-3">
						{% for a in apps %}
							<div class="col d-flex">
								<a href="{{a.url}}" class="flex-fill btn btn-outline-primary active mb-4 {{a.disabled ? 'disabled'}}">
									<span class="text-white display-6">
										<i class="{{a.icon}}"></i>
									</span><br>{{a.name}}</a>
							</div>
						{% endfor %}
					</div>
					{% include 'tgdb/components/recentActivity.html.twig' %}
				</div>
				<div class="col-5">
					<div class="card">
						<div class="card-body">
					{% include 'tgdb/components/memos.html.twig' %}
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
