<p>Statbus attempted to load an external resource, but it failed. Please refresh the page to try again, this error should be temporary.</p>

<p><small>Statbus periodically needs to fetch data about the game servers in order to show information. Occasionally, this attempt to fetch the data will fail, due to too much traffic or other conditions outside of Statbus. These will generally resolve themselves on their own. If the issue persists, please open an issue on the Github Repository.</small></p>