<p>{{error.getMessage}}</p>
<p>Possible resolutions:</p>
<ul>
    <li>Log in via <a href="{{url_for('auth.discord')}}">Discord</a> or the <a href="{{url_for('auth.forum')}}">TGStation Forum</a></li>
</ul>