{% extends 'base/components/section.html.twig' %}
{% block header %}
<span>Some Recent Rounds</span><a href="{{url_for('rounds')}}">View More...</a>
{% endblock %}
{% block body %}
{% include 'round/components/listing.html.twig' %}
{% endblock %}
