<p>
	<strong>
		<i class="fas fa-hand-point-right"></i>
		Please be advised that:</strong>

	<ul class="pl-2">
		<li>All dates and times are in UTC</li>
		<li>Statbus does not show bans by any criteria other than which ckey they are attached to. Statbus can not pull up bans that are attached solely to an IP address. Please consult an in-game administrator if a ban affecting you is not shown here.</li>
		<li>Not all bans are placed during the round in which the bannable offense occurred. The correct round ID is usually noted in the banning reason.</li>
	</ul>
</p>
