{% from 'macros/badge.html.twig' import PlayerBadge %}
<ul class="navbar-nav">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			{% if user %}
				Logged in as
				{{PlayerBadge(user.getBadge)}}
			{% else %}
				Authenticate
			{% endif %}
		</a>
		<ul class="dropdown-menu">
			{% if user %}
				<li>
					<span class="dropdown-item disabled">Via
						{{user.getSource|capitalize}}</span>
				</li>
				<li><hr class="dropdown-divider"></li>
				<li>
					<a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
				</li>
			{% else %}
				<li>
					<a class="dropdown-item disabled" href="#">
						<span class="badge text-bg-danger">Soon</span>
						TGStation Forum</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('auth.discord')}}">Discord</a>
				</li>
			{% endif %}
		</ul>
	</li>
</ul>
