<div class="modal fade" id="globalJsonModal" tabindex="-1" aria-labelledby="globalJsonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="globalJsonModalLabel">JSON</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <pre class="modal-body">

      </pre>
      <div class="modal-footer d-flex justify-content-between align-items-center">
        <code id="urlTarget"></code>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>