{% extends 'base/index.html.twig' %}
{% block body %}
	<div class="card">
        <h3 class="card-header">{{title}}</h3>
		<div class="card-body">
			{% apply markdown_to_html %}

			{{content}}

			{% endapply %}
		</div>
	</div>
{% endblock %}
