{% extends 'base/components/section.html.twig' %}
{% block header %}
Admin Activity
{% endblock %}

{% block body %}
<a href="{{url_for('tgdb.notes.author',{ckey: ckey})}}" class="btn btn-primary"><i class="fas fa-envelope"></i> Notes & Messages</a>
{% endblock %}