{% extends 'base/components/section.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge %}
{% block header %}
Known Alts
{% endblock %}

{% block body %}
<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Ckey 1</th>
			<th>Ckey 2</th>
			<th>Added By</th>
		</tr>
	</thead>
	<tbody>
    {% for a in alts %}
		<tr>
			<td>{{PlayerBadge(a.ck1Badge)}}</td>
			<td>{{PlayerBadge(a.ck2Badge)}}</td>
			<td>{{PlayerBadge(a.adminBadge)}}</td>
		</tr>
    {% else %}
        <tr>
			<td colspan="3" class="text-center">« No Known Alts. Yet... »</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
</div>
{% endblock %}