{% extends 'base/components/section.html.twig' %}
{% block header %}
Playtime
{% endblock %}

{% block body %}
	<div class="chart-container" style="position: relative;">
		<canvas id="playtime"></canvas>
	</div>
	<script>{% include 'player/components/playtimeGraph.js' %}</script>
{% endblock %}
