{% extends 'base/index.html.twig' %}
{% block body %}
	{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
    {% from 'macros/pagination.html.twig' import pagination %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{url_for('home')}}">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<i class="fas fa-ticket"></i> My Tickets</li>

		</ol>
	</nav>
	<div class="card">
		<h3 class="card-header">
			My Tickets
		</h3>
		<div class="card-body">
            {{pagination(pagination.pages, pagination.currentPage, pagination.url)}}
            <p>Showing tickets sent to, or started by you</p>
			<div class="list-group">
				{% include 'tickets/components/ticketList.html.twig' %}
				</div>
			</div>
            {{pagination(pagination.pages, pagination.currentPage, pagination.url)}}
		</div>
	{% endblock %}
